body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: #12181f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.view-container {
    background-color: #3171bb;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 50px;
    border: aqua;
    background-color: #12181f;
    color: rgb(255, 255, 255);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(4, 140px);
    gap: 16px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.card {
    height: calc(80px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front-image {
    width: 60px;
    height: 60px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .back {
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

.card .front {
    transform: rotateY(180deg);
}

.leaderboard {
    margin-right: 100px;
    margin-left: 100px;
    background-color: #12181f;
    border-radius: 1rem;
    padding: 10px;
}

.leaderboard h2 {
    text-align: center;
    font-size: 24px;
}

.leaderboard-list {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.leaderboard-list li {
    margin-bottom: 10px;
    transition: transform 0.5s ease;
}

.move-up {
    transform: translateY(-10px);
}

.move-down {
    transform: translateY(10px);
}

.win-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    z-index: 1000;
}

.win-dialog h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.win-dialog p {
    margin: 0 0 20px 0;
    font-size: 18px;
}

.win-dialog button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3171bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timer-container {
    margin-right: 120px;
    margin-left: 120px;
    text-align: center;
    background-color: #12181f;
    border-radius: 1rem;
    padding-left: 50px;
    padding-right: 50px;
}

.timer-container h2 {
    font-size: 24px;
}

.timer-container p {
    font-size: 30px;
    font-weight: bold;
}
